/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    background: black;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}

/* Portrait layout (default) */
.app {
    background: url(../ui-images/Tailortunes-white-font.png) no-repeat center top; /* 170px x 200px */
    position: absolute;
    background-size: contain;
    /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.event {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
    display: none;
}

.event.listening {
    background-color: #333333;
    display: none;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }
    50% {
        opacity: 0.4;
    }
    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

#start-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.11111rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.88889rem 1.77778rem 0.94444rem 1.77778rem;
    font-size: 0.88889rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
    border-radius: 5%;
}
a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

html, body{
    overflow-y: hidden !important;
}
